[submodule "pack/vendor/opt/nerdtree"]
	path = pack/vendor/opt/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/vendor/opt/fzf"]
	path = pack/vendor/opt/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/vendor/opt/fzf.vim"]
	path = pack/vendor/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/vendor/opt/vim-airline"]
	path = pack/vendor/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/vendor/opt/coc.nvim"]
	path = pack/vendor/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "/Users/fnk/.vim/pack/vendor/opt/rust.vim"]
	path = /Users/fnk/.vim/pack/vendor/opt/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/vendor/opt/vim-noctu"]
	path = pack/vendor/opt/vim-noctu
	url = https://github.com/noahfrederick/vim-noctu.git
[submodule "pack/vendor/opt/vim-mustache-handlebars"]
	path = pack/vendor/opt/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
